@model List<SpecialProduct>
<section id="specials" class="specials">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Etkinlikler</h2>
            <p>Organizasyonlarımız</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-3">
                <ul class="nav nav-tabs flex-column">
                    @foreach (var item in Model)
                    {
                        <li class="nav-item">
                            <a class="nav-link @item.SpecialProductStatus show" data-bs-toggle="tab" href="#@item.SpecialProductTabIndex">@item.SpecialProductTitle</a>
                        </li>
                    }
                  
                 
                </ul>
            </div>
            <div class="col-lg-9 mt-4 mt-lg-0">
                <div class="tab-content">
                    @foreach (var item in Model)
                    {
                        <div class="tab-pane @item.SpecialProductStatus show" id="@item.SpecialProductTabIndex">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>@item.SpecialProductTitle</h3>
                                    <p class="fst-italic">@item.SpecialProductContent</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="@item.SpecialProductImage" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    }
                    
                   
                </div>
            </div>
        </div>

    </div>
</section>