@model EntityLayer.Concrete.Employee
@{
    ViewData["Title"] = "UpdateEmployee";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Personel Düzenleme Sayfası</h1>
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Personel Profil Bilgileri Düzenleme</h4>
            <br />
            <form class="form-group" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    @Html.HiddenFor(x => x.EmployeeID)
                    <label for="exampleInputName1">Adınız</label>
                    @Html.TextBoxFor(x => x.EmployeeName, new { @class = "form-control", @placeholder = "Adınız" })
                    @Html.ValidationMessageFor(x => x.EmployeeName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.HiddenFor(x => x.EmployeeID)
                    <label for="exampleInputName1">Kullanıcı Adınız</label>
                    @Html.TextBoxFor(x => x.EmployeeSurName, new { @class = "form-control", @placeholder = "SoyAdınız" })
                    @Html.ValidationMessageFor(x => x.EmployeeSurName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label>Yazar Görsel</label>
                    <input type="file" name="imageFile" class="form-control-file">
                    <br />
                    <label>Yada Link Yapıştır</label>
                    @Html.TextBoxFor(x => x.EmployeeImage, new { @class = "form-control", @placeholder = "ImageUrl" })
                    @Html.ValidationMessageFor(x => x.EmployeeImage, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Personel Instagram</label>
                    @Html.TextBoxFor(x => x.EmployeeInstagram, new { @class = "form-control", @placeholder = "Instagram" })
                    @Html.ValidationMessageFor(x => x.EmployeeInstagram, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Personel Twitter</label>
                    @Html.TextBoxFor(x => x.EmployeeTwitter, new { @class = "form-control", @placeholder = "Twitter" })
                    @Html.ValidationMessageFor(x => x.EmployeeTwitter, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Personel Facebook</label>
                    @Html.TextBoxFor(x => x.EmployeeFacebook, new { @class = "form-control", @placeholder = "Facebook" })
                    @Html.ValidationMessageFor(x => x.EmployeeFacebook, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Personel Linkedin</label>
                    @Html.TextBoxFor(x => x.EmployeeLinkedin, new { @class = "form-control", @placeholder = "Linkedin" })
                    @Html.ValidationMessageFor(x => x.EmployeeLinkedin, "", new { @class = "text-danger" })
                </div>

                <div asp-validation-summary="All" class="text-danger"></div>
                <button type="submit" class="btn btn-gradient-primary mr-2">Güncelle</button>
                <button class="btn btn-light">İptal</button>
            </form>
        </div>
    </div>
</div>

